
.container {
    display: flex;
    height: 100vh;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .form {
    width: 300px;
    padding: 20px;
    background-color: #1a1a1a;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  label {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .inputcontainer {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .input1 {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .svgIcon {
    margin-top: -2px;
    fill:#fff;
    background-color:#112535;
    border-radius: 4px;
    height: 40px;
  }
  
  .button2 {
    background-color: #112535;
    color: #fff;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .errorText {
    color: rgb(132, 39, 39);

    margin-bottom: 7px;
  }
  
  .sign {
    display: flex;
    color: #fff;
    justify-content: flex-start;  
  }